<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anti.fraud.modules.export.mapper.ExportTaskMapper">
    
    <select id="selectByUserId" resultType="com.anti.fraud.modules.export.entity.ExportTask">
        SELECT * FROM export_task WHERE user_id = #{userId} ORDER BY create_time DESC
    </select>
    
    <select id="selectPendingTasks" resultType="com.anti.fraud.modules.export.entity.ExportTask">
        SELECT * FROM export_task WHERE status = 0 ORDER BY create_time ASC
    </select>
    
</mapper>
